# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
.venv/
ENV/
.env/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore test coverage reports
.coverage

.cookies
*.egg-info/
dist/
build/
