# Bytecode files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
.venv/
env/
ENV/
env/

# Environment variable files
.env

# Log files
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage

# Python package build artifacts
*.egg-info/
dist/
build/

# Cookie and session files
.cookies
